*{
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("tlo.jpg");
    background-size: cover; 
    margin: 0;
    padding: 0;
}

#weatherSearch {
    text-align: center;
    padding: 20px;
    background: rgba(103, 3, 45);
    color: rgba(220, 20, 60);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

#weatherSearch input {
    padding: 10px 15px;
    width: 250px;
    background: rgba(242, 224, 230);
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

#weatherSearch button {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    background: rgba(197, 25, 193);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#weatherSearch button:hover {
    transition: 0.5s;
    background: rgba(116, 17, 104);
}

#weatherResults {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
}

#weatherResults h2 {
    text-align: center;
    color: rgba(242, 224, 230);
    text-shadow:
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
    margin-top: 20px;
}

#currentWeather {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#forecastRow {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    margin-top: 10px;
}

.weatherBlock {
    background: rgba(242, 224, 230);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 18%; 
    text-align: center;
}

.weatherDate {
    font-weight: bold;
    margin-bottom: 5px;
}

.weatherTemp {
    font-size: 22px;
    font-weight: bold;
}

.weatherDescription {
    margin-top: 5px;
    text-transform: capitalize;
}
